% my $prev_date;
                <ul id="sayings">
% for my $saying (@sayings) {
<& saying-li.mas, saying => $saying, show_date => ( ! $prev_date || $prev_date ne $saying->date() ) &>
%   $prev_date = $saying->date;
% }
                </ul>

<div id="history-links">
% if ($prev) {
<a href="<% $prev %>">\
%   if ($prev eq 'index.html') {
Most recently said\
%   } else {
Towards the future\
%   }
</a>
% }

% if ( $prev && $next ) {
|
% }

% if ($next) {
<a href="<% $next %>">Into the past</a>
% }
</div>

<%args>
@sayings
$next
$prev
</%args>
